.top_bar{
    background-color: #2454a0;

}

.icones{
    background-color: pink;
}

.social{
    background-color: green;
    text-align: right;
}

.nav-link:hover{
    color: #2454a0;
}

.navbar .nav-item .nav-link{
    color: #262626;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.navbar .nav-item .nav-link:hover{
    color: #2a76a9;
}

header{
    box-shadow: 1px 0 4px rgba(0, 0, 0, 15);
}